{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Название книги{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="top-bar">
</div>

{% block content %}
<div class="book-detail">
    <div class="book-header">
        <h1 class="book-title">{{ books.title }}</h1>
        {% if books.age_restriction %}
            <div class="age-restriction-container">
                <span class="age-restriction-circle">+{{ books.age_restriction }}</span>
            </div>
        {% endif %}
    </div>
    <!-- Автор и рейтинг -->
    <div class="book-author-rating">
        <h2 class="book-author">{{ books.author }}</h2>
        <p class="book-rating">Рейтинг: {{ books.rating_value }} ({{ books.rating_count }} оценок)</p>
    </div>
    <!-- Контейнер для изображения и информации о книге -->
    <div class="book-container">
        <!-- Контейнер для изображения книги -->
        <div class="book-image-container">
            <img src="{{ books.image_link }}" alt="Обложка книги">
        </div>
        <!-- Контейнер для остальной информации о книге -->
        <div class="book-info-container">
            <p>ISBN: {{ books.isbn }}</p>
            <p>Издательство: {{ books.publisher }}</p>
            <p>Серия: {{ books.series }}</p>
            <p>Год издания: {{ books.the_year_of_publishing }}</p>
            <p>Количество страниц: {{ books.number_of_pages }}</p>
            <p>Тип обложки: {{ books.cover_type }}</p>
            <p>Жанр: {{ books.genre }}</p>
            <p>Тэги: {{ books.tags }}</p>
            <div class="book-status">
                {% if books.soon %}
                    <span class="status-soon">Скоро в продаже</span>
                {% endif %}
                {% if books.new %}
                    <span class="status-new">Новинка</span>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Описание книги -->
    <div class="book-description">
        <p>{{ books.description }}</p>
    </div>
</div>
{% endblock %}


